.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 64px;
  font-weight: 500;
  width: 80%;
  height: 20%;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
}

.footer {
  color: #adadad;
  width: 80%;
  height: 10%;
}