.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 64px;
  font-weight: 500;
  width: 80%;
  height: 20%;
  gap: 50px;
  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #adadad;
  width: 80%;
  height: 10%;
}

// .link {
//   // text-decoration: underline;
// }