.results {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  font-size: 24px;
  margin-bottom: 20px;
  min-height: 30px;
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.name {
  display: flex;
  justify-content: flex-start;
  flex-grow: 4;
}

.result {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.time {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.date {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}

