.results {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  min-height: 30px;
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.name {
  display: flex;
  justify-content: flex-start;
  min-width: 30%;
}

.points {
  display: flex;
  justify-content: center;
  min-width: 10%;
}

.time {
  display: flex;
  justify-content: center;
  min-width: 10%;
}

.date {
  display: flex;
  justify-content: flex-end;
  min-width: 30%;
}

