.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.header {
  width: 100%;
  font-size: 48px;
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.subheader {
  width: 100%;
  font-size: 24px;
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.input {
  width: 30%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  &::placeholder {
    color: #5a5a5a;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: #43be54;
  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
}

.section {
  width: 100%;
}

.question__header {
  font-size: 32px;
  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.options {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.options__radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}

.radio {
  width: 20px;
  height: 20px;
}

.label {
  cursor: pointer;
  font-size: 24px;
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.result__regular {
  font-size: 32px;
}

.result__points {
  font-size: 64px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
  font-size: 24px;
}