.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-size: 48px;
  font-weight: 500;
  width: 80%;
  height: 20%;
  gap: 50px;
  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
    gap: 10px;
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
  @media screen and (max-width: 600px) {
    width: 85%;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #adadad;
  width: 80%;
  height: 10%;
}

.link {
  @media screen and (max-width: 600px) {
    width: 40%;
  }
}